In [7]:
print('My first prog')

My first prog

In [11]:
#Single line comment

In [12]:
"""Multiple line comments
lorem
lorem
"""

'Multiple line comments\nlorem\nlorem\n'

In [ ]:
#Variables

In [16]:
a=15
a

15

In [17]:
print(a)

15

In [18]:
type(a)

int

In [23]:
b='String54514'
b

'String54514'

In [43]:
type(b)

str

In [47]:
c=12.5
c

12.5

In [48]:
type(c)

float

In [59]:
f=True

In [61]:
f

True

In [64]:
g=False
g

False

In [72]:
type(g)

bool

In [73]:
n=45+6j

In [74]:
type(n)

complex

In [24]:
print(a,b)

15 String54514

In [66]:
#another way of defining a var
j,b,l='99','another string ','56'

In [67]:
j,b,l

('99', 'another string ', '56')

In [68]:
True+True+True

3

In [70]:
True-False-False-True

0

In [4]:
n=25+45j

In [6]:
k=40+60j

In [9]:
n*k

(-1700+3300j)

In [11]:
n.real

25.0

In [13]:
n.imag

45.0

In [15]:
#concatination
1+"sach"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [17]:
str(1)+"sach"

'1sach'

In [19]:
'1' +'sach'

'1sach'

In [21]:
#upcasting
1+2.0

3.0

In [24]:
'sach' * 4

'sachsachsachsach'

In [27]:
int('sach') * 4

ValueError: invalid literal for int() with base 10: 'sach'

In [33]:
 #pseudo code problem
 a= int (input('Enter value of a'))
 b= int (input('Enter value of b'))
 c= int (input('Enter value of c'))

Enter value of a5
Enter value of b6
Enter value of c7

In [35]:
d=(a+b)/c

In [37]:
d

1.5714285714285714

In [39]:
co=5+6j

In [41]:
final=d+co

In [43]:
str(final)+'sach'

'(6.571428571428571+6j)sach'

In [1]:
#Conditional statments

In [1]:
#If statements
a= int(input('Enter an integer'))
if a<50 :
    print('Your no is less than 50')
    
elif a<100 :
    print('Your no is less than 100')
    
else :
    print('Your no is greater than 100')

Enter an integer60
Your no is less than 100

In [21]:
b= int(input('Enter your salary'))
if b>5000:
    print('you can buy maruti')
    if b>5500:
        print('you can buy nano')
    elif b>5200:
        print('you can buy merci')
elif b<3000:
    print ('you can buy skoda')
    if True:
        print('passed')
else:
    print('you cant buy anything')

Enter your salary5300
you can buy maruti
you can buy merci

In [ ]:
first= (input('Enter your first name'))
last= (input('Enter your last name'))

if first=='sachin' and last=='pawar':
    print ('you are admin')
elif first=='sachin' and last=='patil':
    print('you are user')
else :
    print('nothing')

In [45]:
a=int(input('enter your birth day'))
b=int(input('enter your birth year'))

if a<=31 and b<=2000:
    print('you are an adult')
elif b>2010 and b<2015:
    print('you are to be a adult')
elif a>=31 or b>=2015:
    print('you are minor')
else:
    print('you are not allowed')

enter your birth day50
enter your birth year2025
you are minor

In [6]:
#While loop

currentAge=6
maxAge=30
count=1
while currentAge<maxAge:
    print('You need to continue education till age 22 ' )
    count=count+1
    if count==16:
        break

You need to continue education till age 22
You need to continue education till age 22
You need to continue education till age 22
You need to continue education till age 22
You need to continue education till age 22
You need to continue education till age 22
You need to continue education till age 22
You need to continue education till age 22
You need to continue education till age 22
You need to continue education till age 22
You need to continue education till age 22
You need to continue education till age 22
You need to continue education till age 22
You need to continue education till age 22
You need to continue education till age 22

In [9]:
i=0
j=5
while i<j:
    print('i is still less than j')
    i=i+1

i is still less than j
i is still less than j
i is still less than j
i is still less than j
i is still less than j

In [27]:
#use of while else and increament decrement 

age=3
i=0
j=6
while i<3:
    print('Adhira cant go to Nursary till she is 3')
    i+=1
    
#i=i+1 and i+=1 are same
else:
    print('\n')
    while j>1:
        print('Adhira cant go to school till she is 6')
        j-=1
#i=i-1 and i-=1 are same

Adhira cant go to Nursary till she is 3
Adhira cant go to Nursary till she is 3
Adhira cant go to Nursary till she is 3


Adhira cant go to school till she is 6
Adhira cant go to school till she is 6
Adhira cant go to school till she is 6
Adhira cant go to school till she is 6
Adhira cant go to school till she is 6

In [2]:
s='My name is Adhira'

In [53]:
s

'My name is Adhira'

In [35]:
s[3]

'n'

In [38]:
#to print range of char
s[3:10]

'name is'

In [23]:
#to print range of char with interval
s[3:10:2]

'nm s'

In [24]:
len(s)

17

In [25]:
#to reverse part of string
#use concept of number line '3 2 1 0 - 1 - 2 - 3 ' to find the exac place of char
s[17:0:-1]

'arihdA si eman y'

In [27]:
#to reverse entire string
s[::-1]

'arihdA si eman yM'

In [18]:
# from 2 till -6 char by default step is 1
s[2:-6]

' name is '

In [59]:
#For loop

In [60]:
string ='Learn Python'

In [61]:
for i in string :
    print (i)

L
e
a
r
n

P
y
t
h
o
n

In [62]:
for i in string :
    if i=='a' :
        print ('I found char a')

I found char a

In [67]:
#use of for else
for i in string:
    print (i);
else :
    if i =='a':
        print('found a')
    print('this else cond')

L
e
a
r
n

P
y
t
h
o
n
this else cond

In [77]:
#Use of break
#else wl only execute after for is completed and it wl not execute if break is used
for i in string :
    if i =='a' :
        break
        #after break execution wl stop and loop is broken
    print(i)
else :
    print ('I am in else')

L
e

In [93]:
##Use of continue

for i in string :
    if i=='n':
        continue
        #this condition will not be printed as its outside the if and after continue the control wl go to loop again
    print(i+' outside if and in for loop')
else:
    print('\n in else')

L outside if and in for loop
e outside if and in for loop
a outside if and in for loop
r outside if and in for loop
  outside if and in for loop
P outside if and in for loop
y outside if and in for loop
t outside if and in for loop
h outside if and in for loop
o outside if and in for loop

 in else

In [6]:
# print all star programs

#print a square to clear basic
n=5
for i in range(n):
    for j in range(n):
        print('*',end=' ')
        #end is used to avoid next line by default \n
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [8]:
#print increaring no of star right abgle triangle
#reuse the square code and replace n with i+1 in second for as we need increasing * 
n=5
for i in range(n):
    for j in range(i+1):
        print('*', end=' ') 
    print()

*
* *
* * *
* * * *
* * * * *

In [4]:
#print decreasing no of star right angle triangle

n=5
for i in range(n):
    for j in range(i,n):
        print('*',end=(' '))
    print()

* * * * *
* * * *
* * *
* *
*

In [2]:
#to print right angled triangle 
# its a combination of decreasing triangle spaces + increasing tringle of * hecne code block will be reused for the same.
#ref- https://www.youtube.com/watch?v=fX64q6sYom0

n=5
#1 no of rows as common step
for i in range(n):
    
    #2 print decreasing spaces
    for j in range(i,n):
        print(' ', end=' ')
    
    #3 print increasing *s
    for j in range(i+1):
        print('*', end=' ')
    
#1 to take control to new line always   
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [3]:
#to print reverse right angled triangle just chage sequence of the for loops
# its a combination of increasing triangle spaces + decreasing tringle of * hecne code block will be reused for the same.
#ref- https://www.youtube.com/watch?v=fX64q6sYom0

n=5
#1 no of rows as common step
for i in range(n):

    #2 print increasing spaces
    for j in range(i+1):
        print(' ', end=' ')
        
    #2 print decreasing *s
    for j in range(i,n):
        print('*', end=' ')
    
#1 to take control to new line always   
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [2]:
#reverse pyramid

n=int(input('enter the no of rows'))
for i in range(n,0,-1):
#to print n no of rows
    for j in range(0,n-i):
    #to print spaces
        print(end=" ")
    for j in range(0,i):
    #to print no of *
        print('*',end=' ')
    print()

enter the no of rows5
* * * * *
 * * * *
  * * *
   * *
    *

In [7]:
#upward pyramid using while

n=5
i=0
while i<n:
    print(' '*(n-i-1)+'* '*(i+1))
    i+=1

    *
   * *
  * * *
 * * * *
* * * * *

# Lists

In [4]:

l1=['sachin',356,'Pune']

l2=list()

In [49]:
#calling a list
l1

['sachin', 356, 'Pune']

In [50]:
len(l1)

3

In [30]:
#list within list
l3=['text',48+6j,True,656,[5,'gh','ddd',6]]
l3

['text', (48+6j), True, 656, [5, 'gh', 'ddd', 6]]

In [19]:
#traversing a list
l3[0]
l3[4]

[5, 'gh', 'ddd']

In [24]:
l3[1:4]

[(48+6j), True, 656]

In [26]:
l3[3:0:-1]

[656, True, (48+6j)]

In [29]:
#traversing list with for loop
for i in l3:
    print(type(i))

<class 'str'>
<class 'complex'>
<class 'bool'>
<class 'int'>
<class 'list'>

In [45]:
#use of list
#to get the sum of integers inside list

for i in l3:
    if type(i)==list:
        n=0;
        for j in i:
            if type(j)==int:
                n=j+n
        print(n)

11

In [14]:
#List of range
l4=list(range(10))
l4

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
3 in l4

True

In [18]:
11 in l4

False

# String operations

In [3]:
s="My name is Sachin"
s

'My name is Sachin'

In [5]:
s[0]

'M'

In [8]:
s[-1]

'n'

In [10]:
len(s)

17

In [12]:
s[100]

IndexError: string index out of range

In [14]:
s[1:10]

'y name is'

In [20]:
s[1:10:2]

'ynm s'

In [42]:
s[2:-9]

' name '

In [45]:
s[-1:-11:-1]

'nihcaS si '

In [47]:
for i in s:
    print(i)

M
y

n
a
m
e

i
s

S
a
c
h
i
n

In [51]:
for i in range(len(s)):
    print(s[i])

M
y

n
a
m
e

i
s

S
a
c
h
i
n

In [53]:
s[0]="x"

#String is immutable object hecne item assignments are not allowed (usefull in storing passwords).

TypeError: 'str' object does not support item assignment

In [55]:
l=[1,'r',2,'j']
l

[1, 'r', 2, 'j']

In [59]:
l[1]='x'
l
#String is immutable object hecne item assignments are not allowed.

[1, 'x', 2, 'j']

In [61]:
'sachin' + 'pawar'

'sachinpawar'

In [66]:
'age is '+str(32)

'age is 32'

In [68]:
'sachin'+['1','sasdf','5']

TypeError: can only concatenate str (not "list") to str

In [71]:
'sach '*5

'sach sach sach sach sach '

In [86]:
z='I have started python'

In [77]:
# default string methods
# to get the methods tab after .
# and shift+tab inside brackets for more details of method
z.find("have")

2

In [89]:
#to find index if any part of string
a=z.find("have")
for i in range(len("have")):
    print(a+i)

2
3
4
5

In [91]:
#to count no of times substring is appearing in string (cases sensitive)
z.count("a")

2

In [93]:
x="my name is sachin, I am from Pune, learning Python"

In [95]:
#to split the string (split returns a list)
x.split()

['my',
 'name',
 'is',
 'sachin,',
 'I',
 'am',
 'from',
 'Pune,',
 'learning',
 'Python']

In [98]:
#comma as a delimeter
x.split(',')

['my name is sachin', ' I am from Pune', ' learning Python']

In [100]:
#comma as a delimeter
x.split('I')

['my name is sachin, ', ' am from Pune, learning Python']

In [102]:
x.upper()

'MY NAME IS SACHIN, I AM FROM PUNE, LEARNING PYTHON'

In [105]:
x.lower()

'my name is sachin, i am from pune, learning python'

In [108]:
x.swapcase()

'MY NAME IS SACHIN, i AM FROM pUNE, LEARNING pYTHON'

In [111]:
y="      string with spaces   "
y

'      string with spaces   '

In [113]:
y.strip()

'string with spaces'

In [115]:
y.lstrip()

'string with spaces   '

In [117]:
y.rstrip()

'      string with spaces'

In [119]:
x.replace("sachin","Shweta")

'my name is Shweta, I am from Pune, learning Python'

In [121]:
x
#since string is imutable original string will remain as it is

'my name is sachin, I am from Pune, learning Python'

In [2]:
#Excercise
a="we all are a part of Full Stack"

In [5]:
#convert to lower
a.lower()

'we all are a part of full stack'

In [8]:
#find count of all a
a.count("a")

5

In [18]:
#replace all the a with ineauron
a.replace("a","ineauron")

'we ineauronll ineauronre ineauron pineauronrt of Full Stineauronck'

In [22]:
#Find location of all the a in string
for i in range(len(a)):
    if (a[i]=="a"):
        print(i)

3
7
11
14
28

In [20]:
#print all the words in a list
a.split()

['we', 'all', 'are', 'a', 'part', 'of', 'Full', 'Stack']

In [2]:
#methods starting with is with boolean output
b="UIIIO"
b.isupper()

True

In [29]:
b.islower()

False

In [4]:
c="    "
c.isspace()

True

In [5]:
b.isdigit()

False

In [8]:
b.isalnum()

True

In [10]:
b.isalpha()

True

In [12]:
b.istitle()

False

In [16]:
b.startswith("U")

True

In [17]:
#to reverse string withought using s[::-1]

In [22]:
#using for loop
str="sachin bhau pawar"
for i in range (1,len(str)):
    print(str[-i])

r
a
w
a
p

u
a
h
b

n
i
h
c
a

In [25]:
#reverse string using while
ch=len(str)-1
while ch >=0:
    print(str[ch])
    ch=ch-1

r
a
w
a
p

u
a
h
b

n
i
h
c
a
s

In [31]:
#to find a character is vowel or not
s="sachin"
vowel="AaEeIiOoUu"
for i in s:
    if i in vowel:
        print("{} is a vowel".format(i))
        
    else:
        print("{} is a consonent".format(i))

s is a consonent
a is a vowel
c is a consonent
h is a consonent
i is a vowel
n is a consonent

In [2]:
#use of .fomat method
a=input()
b=input()

sachin
pawar

In [9]:
"firstname-{} and lastname-{} , Gender-{}".format(a,b,"male")

'firstname-sachin and lastname-pawar , Gender-male'

In [12]:
#palindrome string (same from reverse as well)
s=input("Enter the string to check")
s1=s[::-1]
if s1==s:
    print("Its a palindrome")
else:
    print("its not a palindrome")

Enter the string to check2002
Its a palindrome